# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.vscode
.history
dist

# Node dependencies
node_modules
pnpm-lock.yaml
yarn.lock
package-lock.json

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
